body {
    font-family: Arial, sans-serif;
    background-color: #f5fbff;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    color: #2a6f97;
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

table {
    margin-top: 15px;
    border-collapse: collapse;
    background-color: #d6efff;
    border-radius: 8px;
    overflow: hidden;
}

table td {
    padding: 10px 20px;
    text-align: center;
    transition: 0.2s;
}

table td a {
    text-decoration: none;
    color: #2a6f97;
    font-weight: 500;
}

table td:hover {
    background-color: #bfe6ff;
    cursor: pointer;
}

.container {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #d6efff; /* tipis banget */
}

.container p {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}

.image-profile {
    text-align: center;
    margin-top: 20px;
    border: 10px;
}